.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background:url('../img/model-1.jpg') center top;
  background-size: cover;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
  
}

@keyframes moveInLeft {
  0% {
      opacity: 0 ;
      transform: translateX(-100px)
  }

  80% {
      transform: translateX(10px)
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}